<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SukaMakan.com</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#explore" class="skip-link">Menuju ke konten</a>
        <div class="nav-header">
          <p class="brand-name">SukaMakan.com</p>
          <button class="hamburger-button" id="hamburger-button">
            &#9776;
          </button>
        </div>
        <ul class="navigation-drawer" id="navigation-drawer">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/taqiyyaghazi">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-content"></main>
    <footer>Copyright © 2020 - SukaMakan.com</footer>
  </body>
</html>
